S3method(transport_moment,default)
S3method(transport_moment,list)
S3method(transport_moment,gtfs)
S3method(transport_moment,wizardgtfs)
S3method(gtfs_to_wizard,tidygtfs)
S3method(gtfs_to_wizard,default)
S3method(print,wizardgtfs)
S3method(print,summary.wizardgtfs)
S3method(summary,wizardgtfs)
S3method(plot,wizardgtfs)
export(read_gtfs)
export(gtfs_to_wizard)
export(explore_gtfs)
export(get_frequency)
export(get_dwelltimes)
export(get_headways)
export(get_speeds)
export(get_shapes)
export(get_servicepattern)
export(get_durations)
export(get_fleet)
export(get_distances)
export(get_calendar)
export(filter_servicepattern)
export(filter_date)
export(filter_service)
export(filter_route)
export(filter_trip)
export(filter_stop)
export(filter_time)
